<form class="row g-2" id="health-data-form"
      th:object="${healthDataAddRequest}"
>
    <div class="alert alert-success d-none" id="successAlert">
        Saved Successfully!
    </div>
    <input type="hidden" th:field="*{id}">
    <div class="col-md-6">
        <label for="location" class="form-label">Location</label>
        <input type="text" th:field="*{locationName}"
               id="location" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="eventDate" class="form-label">Event Date</label>
        <input type="date" th:field="*{eventDate}"
               id="eventDate" class="form-control">
    </div>
    <div class="col-md-4">
        <label for="age" class="form-label">Age</label>
        <input type="text" th:field="*{age}"
               id="age" class="form-control">
    </div>
    <div class="col-md-4">
        <label class="form-label">Gender</label>
        <div class="pt-2">
            <div th:each="gender : ${genderList}"
                 class="form-check form-check-inline">
                <input th:id="|gender-${gender}|" th:value="${gender}" th:field="*{gender}"
                       type="radio" class="form-check-input">
                <label th:for="|gender-${gender}|" th:text="${gender.text}"
                       class="form-check-label">${gender}</label>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label class="form-label">Religion</label>
        <div class="pt-2">
            <div th:each="religion : ${religionList}"
                 class="form-check form-check-inline">
                <input th:id="|religion-${religion}|" th:value="${religion}" th:field="*{religion}"
                       type="radio" class="form-check-input">
                <label th:for="|religion-${religion}|"
                       th:text="${religion.text}"
                       class="form-check-label">${religion}</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <label for="weight" class="form-label">Weight (Kg)</label>
        <input type="text" th:field="*{weightInKg}"
               id="weight" class="form-control" value="">
    </div>

    <div class="col-md-3">
        <label for="height" class="form-label">Height (Inch)</label>
        <input type="text" th:field="*{heightInInch}"
               id="height" class="form-control" value="">
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <label for="height" class="form-label">BMI</label>
                <input type="number" id="bmi" name="bmi" readonly tabindex="-1" class="form-control" value="">
            </div>
            <div class="col-md-6">
                <label for="height" class="form-label">Nutritional Status</label>
                <input type="text" id="nutritionalStatus" name="nutritionalStatus" readonly tabindex="-1"
                       class="form-control" value="">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label class="form-label">Blood Pressure</label>
        <div class="row g-2">
            <div class="col-md-6">
                <input type="text" th:field="*{bloodPressureSystolicInMmHg}"
                       id="bloodPressureHigh" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="text" th:field="*{bloodPressureDiastolicInMmHg}"
                       id="bloodPressureLow" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label class="form-label">Hypertension Status</label>
        <input type="text" name="bloodPressureStatus" id="bloodPressureStatus" readonly tabindex="-1"
               class="form-control" value="">
    </div>
    <div class="col-md-4">
        <label class="form-label">Blood Sugar</label>
        <input type="text" th:field="*{bloodSugarInMilliMolePerL}"
               class="form-control" value="">
    </div>
    <div class="col-md-4">
        <label class="form-label">Physical Activity</label>
        <div class="pt-2">
            <div th:each="physicalActivity : ${physicalActivityList}"
                 class="form-check">
                <input th:id="|physicalActivity-${physicalActivity}|"
                       th:value="${physicalActivity}"
                       th:field="*{physicalActivity}"
                       type="radio"
                       class="form-check-input"
                >
                <label class="form-check-label"
                       th:for="|physicalActivity-${physicalActivity}|"
                       th:text="${physicalActivity.text}"
                >${physicalActivity.text}</label>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label class="form-label">Carb Intake Frequency</label>
        <div class="pt-2">
            <div th:each="carbIntakeFrequency :  ${carbIntakeFrequencyList}"
                 class="form-check">
                <input th:id="|carbIntakeFrequency-${carbIntakeFrequency}|"
                       th:value="${carbIntakeFrequency}"
                       th:field="*{carbIntakeFrequency}"
                       type="radio"
                       class="form-check-input">
                <label class="form-check-label"
                       th:for="|carbIntakeFrequency-${carbIntakeFrequency}|"
                       th:text="${carbIntakeFrequency.text}"
                >
                    ${carbIntakeFrequency.text}
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label class="form-label">Cereal Quality</label>
        <div class="pt-2">
            <div th:each="cerealQuality :  ${cerealQualityList}"
                 class="form-check">
                <input th:id="|cerealQuality-${cerealQuality}|"
                       th:value="${cerealQuality}"
                       th:field="*{cerealQuality}"
                       type="radio"
                       class="form-check-input">
                <label class="form-check-label"
                       th:for="|cerealQuality-${cerealQuality}|"
                       th:text="${cerealQuality.text}"
                >Simple</label>
            </div>
        </div>
    </div>
    <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
</form>

<script th:src="@{/js/health-data/util.js}"></script>
<script th:src="@{/js/health-data/add-edit.js}"></script>